/*
禁止修改!此文件是产品代码的一部分，后续可能变更或者不再开放。
若有问题，请参考前端相关二开文档。
*/
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {          /*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;               /*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    /* font-family: "SimSun", "宋体"; */
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;          /*合并外边线*/
}


body {
    font: 12px/150% ;
    font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fff;
    height: 100%;
    color: #111218
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}
a:active {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
}

s, i, em {              
    /* font-style: normal; */
    font-style: italic;
    text-decoration: none;
}

/* 移除浏览器自动填写导致的输入框背景色 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px white inset;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.ant-input[disabled]{
    color: rgba(0, 0, 0, 0.45);
}
.ant-calendar-picker-icon, 
.ant-btn-disabled, 
.ant-btn.disabled, 
.ant-btn[disabled], 
.ant-btn-disabled:hover, 
.ant-btn.disabled:hover, 
.ant-btn[disabled]:hover, 
.ant-btn-disabled:focus, 
.ant-btn.disabled:focus, 
.ant-btn[disabled]:focus, 
.ant-btn-disabled:active, 
.ant-btn.disabled:active, 
.ant-btn[disabled]:active, 
.ant-btn-disabled.active, 
.ant-btn.disabled.active, 
.ant-btn[disabled].active,
.ant-radio-disabled + span
{
    color: rgba(0, 0, 0, 0.45);
}
.ant-switch{
    background-color: rgba(0, 0, 0, 0.25);
}
.ant-switch-checked{
    background-color: #2970FF;
}
.ant-switch-loading, .ant-switch-disabled{
    opacity: 1;
}