/*
禁止修改!此文件是产品代码的一部分，后续可能变更或者不再开放。
若有问题，请参考前端相关二开文档。
*/
.h-icon-all-word {
  color: #2565F1!important;
}

.h-icon-all-excel {
  color: #52C41A!important;
}

.h-icon-all-ppt {
  color: #FF4D4F!important;
}

.h-icon-all-t {
  color: #23B7FF!important;
}

.h-icon-all-unknow-file-o {
  color: #777F8D!important;
}

.h-icon-all-pdf{
  color:#FF4D4F!important;
}